<!DOCTYPE html>
<html>
  <head>
    <title>Notifications</title>
  </head>
  <body>
    <div class="mx-0 px-0">
      <%= form_tag notifications_path, class: 'mb-3 row', method: :get do %>
        <div class="form-group col-md-3">
          <%= text_field_tag :filter_title, params[:filter_title], class: 'form-control form-control-sm', placeholder: 'Title' %>
        </div>
        <div class="form-group col-md-3">
          <%= text_field_tag :filter_description, params[:filter_description], class: 'form-control form-control-sm', placeholder: 'Description' %>
        </div>
        <div class="form-group col-md-1">
          <%= date_field_tag :filter_date_start, params[:filter_date_start], class: 'form-control form-control-sm' %>
        </div>
        <div class="form-group col-md-1">
          <%= date_field_tag :filter_date_end, params[:filter_date_end], class: 'form-control form-control-sm' %>
        </div>
        <div class="form-group col-md-1">
          <%= submit_tag 'Filter', class: 'btn btn-primary w-100 btn-sm' %>
        </div>
      <% end %>
    </div>
    <div class="container-fluid">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Date Send</th>
              <% if @user.admin? %>
                <th>Status</th>
              <% end %>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @notifications.each do |notification| %>
              <tr>
                <td><%= notification.title %></td>
                <td><%= notification.description %></td>
                <td><%= notification.created_at.strftime("%d/%m/%Y %H:%M") %></td>
                <% if @user.admin? %>
                  <td><%= notification.status ? 'Active' : 'Inactive' %></td>
                <% end %>
                <td class="text-right">
                  <%= link_to 'Show', edit_notification_path(notification), class: "btn btn-primary btn-sm" %>
                  <% if @user.admin? %>
                    <%= link_to "Destroy", notification_path(notification), method: :delete, class: 'btn btn-danger btn-sm mr-3', data: { turbo_method: :delete, turbo_confirm: 'You sure?' } %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
