<%= form_with(model: user, class: 'form') do |f| %>
  <% if user.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this category from being saved:</h2>
      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group row">
    <div class="col-md-6">
      <%= f.label :name, class: "control-label small" %>
      <%= f.text_field :name, class: "form-control form-control-sm", required: true %>
    </div>
    <div class="col-md-6">
      <%= f.label :email, class: "control-label small" %>
      <%= f.email_field :email, class: "form-control form-control-sm", required: true %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-6">
      <%= f.label :password, class: "control-label small" %>
      <%= f.password_field :password, class: "form-control form-control-sm", required: true %>
    </div>
    <div class="col-md-6">
      <%= f.label :password_confirmation, class: "control-label small" %>
      <%= f.password_field :password_confirmation, class: "form-control form-control-sm", required: true %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-6">
      <%= f.label :avatar, class: "control-label small" %>
      <%= f.file_field :avatar, class: "form-control form-control-sm" %>
    </div>
    <div class="col-md-6">
      <%= f.label :departament_id, class: "control-label small" %>
      <%= f.collection_select :departament_id, Departament.all, :id, :name, { prompt: "Select Departament"}, class: "form-select form-select-sm", required: true %>
    </div>
  </div>
  <% if current_user.admin? %>
    <div class="form-group row">
      <div class="col-md-6">
        <%= f.label :admin, class: "control-label small" %>
        <%= f.select :admin, [['Yes', true], ['No', false]], {}, class: "form-control form-control-sm" %>
      </div>
      <div class="col-md-6">
        <%= f.label :status, class: "control-label small" %>
        <%= f.select :status, [['Active', true], ['Inactive', false]], {}, class: "form-control form-control-sm" %>
      </div>
    </div>
  <% end %>
  <div class="form-group d-flex justify-content-end">
    <%= f.submit "Save", class: "btn btn-primary btn-sm" %>
  </div>
<% end %>
