<%= form_with(model: column, class: 'form') do |f| %>
  <% if column.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(column.errors.count, "error") %> prohibited this category from being saved:</h2>
      <ul>
        <% column.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :title, class: "control-label small" %>
    <%= f.text_field :title, class: "form-control form-control-sm", required: true %>
  </div>
  <div class="form-group">
    <%= f.label :description, class: "control-label small" %>
    <%= f.text_area :description, class: "form-control form-control-sm" %>
  </div>
  <% if @user.admin? %>
    <div class="form-group row">
      <div class="col-md-4">
        <%= f.label :level, class: "control-label small" %>
        <%= f.number_field :level, class: "form-control form-control-sm", required: true %>
      </div>
      <div class="col-md-4">
        <%= f.label :status, class: "control-label small" %>
        <%= f.select :status, [['Active', true], ['Inactive', false]], {}, class: "form-control form-control-sm" %>
      </div>
      <div class="col-md-4">
        <%= f.label :visible, class: "control-label small" %>
        <%= f.select :visible, [['Yes', true], ['No', false]], {}, class: "form-control form-control-sm" %>
      </div>
    </div>
  <% end %>
  <div class="form-group d-flex justify-content-end">
    <%= f.submit "Save", class: "btn btn-primary btn-sm" %>
  </div>
<% end %>
