<div id="<%= dom_id attachment %>">
  <p>
    <strong>Title:</strong>
    <%= attachment.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= attachment.description %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= attachment.url %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= attachment.status %>
  </p>

</div>
