<%= form_with(model: departament, class: 'form') do |f| %>
  <% if departament.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(departament.errors.count, "error") %> prohibited this category from being saved:</h2>
      <ul>
        <% departament.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name, class: "control-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description, class: "control-label" %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <% if @user.admin? %>
    <div class="form-group">
      <%= f.label :status, class: "control-label" %>
      <%= f.select :status, [['Active', true], ['Inactive', false]], {}, class: "form-control" %>
    </div>
  <% end %>
  <div class="form-group d-flex justify-content-end">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
