<div id="<%= dom_id priority %>">
  <p>
    <strong>Level:</strong>
    <%= priority.level %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= priority.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= priority.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= priority.status %>
  </p>

</div>
