<div id="<%= dom_id priority %>">
  <p>
    <strong>Name:</strong>
    <%= priority.name %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= priority.description %>
  </p>
  <p>
    <strong>Level:</strong>
    <%= priority.level %>
  </p>
  <p>
    <strong>Status:</strong>
    <%= priority.status %>
  </p>
</div>
