<!DOCTYPE html>
<html>
  <head>
    <title>Priorities</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="d-flex justify-content-end align-items-center mb-3">
        <%= link_to "New Priority", new_priority_path, "data-controller":"turbo", class: "btn btn-primary btn-sm" %>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Level</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @priorities.each do |priority| %>
              <tr>
                <td><%= priority.name %></td>
                <td><%= priority.description %></td>
                <td><%= priority.level %></td>
                <td><%= priority.status ? 'Active' : 'Inactive' %></td>
                <td class="text-right">
                  <%= link_to 'Edit', edit_priority_path(priority), "data-controller":"turbo", class: "btn btn-primary btn-sm" %>
                  <%= link_to "Destroy", priority_path(priority), method: :delete, class: 'btn btn-danger btn-sm mr-3', data: { turbo_method: :delete, turbo_confirm: 'You sure?' } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
