<div id="<%= dom_id ticket %>">
  <p>
    <strong>Title:</strong>
    <%= ticket.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ticket.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= ticket.category_id %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= ticket.priority_id %>
  </p>

  <p>
    <strong>Column:</strong>
    <%= ticket.column_id %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= ticket.company_id %>
  </p>

  <p>
    <strong>Departament:</strong>
    <%= ticket.departament_id %>
  </p>

  <p>
    <strong>Date end:</strong>
    <%= ticket.date_end %>
  </p>

  <p>
    <strong>Tag:</strong>
    <%= ticket.tag_id %>
  </p>

  <p>
    <strong>Attachment:</strong>
    <%= ticket.attachment_id %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= ticket.comment_id %>
  </p>

  <p>
    <strong>Sub tasks:</strong>
    <%= ticket.sub_tasks_id %>
  </p>

  <p>
    <strong>Automation hours:</strong>
    <%= ticket.automation_hours %>
  </p>

  <p>
    <strong>Execution hours:</strong>
    <%= ticket.execution_hours %>
  </p>

</div>
