<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-sm-8 col-md-6 col-lg-4">
      <div class="card mt-5">
        <div class="card-body">
          <h2 class="card-title text-center mb-4 text-primary">Login</h2>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group mb-2">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"%>
            </div>
            <div class="form-group mb-2">
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
            </div>
            <div class="d-flex justify-content-between mt-4">
              <div class="flex-grow-0">
                <%= render "devise/shared/links", class: "btn btn-outline-secondary" %>
              </div>
              <%= f.submit "Log in", class: "btn btn-primary col-3 mt-2" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
